In [1]:
### IMPORTING PACKAGES ###
import pandas as pd
import os

In [2]:
### DIRECTORY FOR DATASETS
curr_dir = os.getcwd()
train_dir = "data\\Data_Train.xlsx"

In [3]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\ashwin\anaconda3\envs\tf\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\ashwin\anaconda3\envs\tf\lib\site-packages (3.0.5)
Requirement already satisfied: et-xmlfile in c:\users\ashwin\anaconda3\envs\tf\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\ashwin\anaconda3\envs\tf\lib\site-packages (from openpyxl) (1.4.1)

In [4]:
#importing data
train_data  = pd.read_excel(os.path.join(curr_dir,train_dir),engine='openpyxl')

In [5]:
train_data.describe().transpose()

        count        mean         std   min     25%    50%    75%      max
Price  6237.0  560.707516  690.110657  25.0  249.18  373.0  599.0  14100.0

In [6]:
train_data.head(3)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00

In [7]:
X = train_data.drop(['Title', 'Author','Synopsis'],axis=1)

In [8]:
y = train_data['Price']

In [9]:
for i in range(len(X)):
    X.iloc[i,X.columns.get_loc('Reviews')] = float(X.iloc[i,X.columns.get_loc('Reviews')][0:3])
    X.iloc[i,X.columns.get_loc('Ratings')] = float(X.iloc[i,X.columns.get_loc('Ratings')][0:1])
    X.iloc[i,X.columns.get_loc('Edition')] = str(list(X.iloc[i,X.columns.get_loc('Edition')].split(","))[0])

In [10]:
#X.head(2)

,Edition,Reviews,Ratings,Genre,BookCategory,Price
0,Paperback,4,8,Action & Adventure (Books),Action & Adventure,220.00
1,Paperback,3.9,1,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93

In [11]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [12]:
class Preprocess:
    le_Edition = LabelEncoder()
    le_Genre   = LabelEncoder()
    le_BookCategory = LabelEncoder()
    
    def __init__(self):pass    
            
    def fit(self,X):
        self.le_Edition.fit(X['Edition'])
        self.le_Genre.fit(X['Genre'])
        self.le_BookCategory.fit(X['BookCategory'])
    
    def transform(self,X):
        return self.le_Edition.transform(X['Edition']),self.le_Genre.transform(X['Genre']),self.le_BookCategory.transform(X['BookCategory'])
    def fit_transform(self,X):
        self.fit(X)
        return(self.transform(X))

In [13]:
#ENCODERS FOR DATA

le_Edition = LabelEncoder()
le_Genre   = LabelEncoder()
le_BookCategory = LabelEncoder()

pre_process = Preprocess()

X['Edition'], X['Genre'], X['BookCategory'] = pre_process.fit_transform(X)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
clf = LinearRegression().fit(X, y)

In [16]:
import numpy as np

In [20]:
test = X.iloc[1]

print("%.2f"%(clf.predict(np.array([test]))))

202.93